.search{

    .search-box{
        width:60%;
        background-color:white;
        margin:0px auto;
        border-radius: 10px;
        position: relative;
    }
    &__input{
        width:100%;
        padding: 10px;
        border-radius: 10px;
    }
   &__button{
       width:40px;
       position: absolute;
       right: 10px;
       top:8px;
       border:0px;
       background-color: white;
       cursor: pointer;
   }
}